Source: openmediavault-essencial-base
Section: net
Priority: optional
Maintainer: Gerik Bonaert <dev@adaxisoft.be>
Build-Depends: debhelper (>> 7), gettext
Standards-Version: 3.6.10
Homepage: http://adaxisoft.be

Package: openmediavault-essencial-base
Architecture: all
Depends: openmediavault (>= 0.5.7), ntp 
Priority: optional
Description: Scaffolding for essencial packages.
 Essencial base adds repositories, users and libraries
 needed to configure other packages.
